---
import Layout from '../layouts/Layout.astro';
import NavRouter from '../components/nav/NavRouter.astro';
import HeroRouter from '../components/hero/HeroRouter.astro';
import About from '../components/About.astro';
import TestimonialRouter from '../components/testimonials/TestimonialRouter.astro';
import Menu from '../components/Menu.astro';
import GalleryRouter from '../components/gallery/GalleryRouter.astro';
import Hours from '../components/Hours.astro';
import CTARouter from '../components/cta/CTARouter.astro';
import FooterRouter from '../components/footer/FooterRouter.astro';
import { siteConfig } from '../config/site.config';

const config = siteConfig;
---

<Layout config={config}>
  <NavRouter config={config} />
  
  <main id="main-content">
    <HeroRouter config={config} />
    
    {config.about && (
      <About 
        image={config.about.image}
        heading={config.about.heading}
        text={config.about.text}
        reverse={config.about.reverse}
      />
    )}
    
    {config.testimonials && (
      <TestimonialRouter config={config} />
    )}
    
    {config.menu && (
      <Menu sections={config.menu.sections} />
    )}
    
    {config.gallery && (
      <GalleryRouter config={config} />
    )}
    
    {config.hours && (
      <Hours 
        schedule={config.hours.schedule}
        address={config.hours.address}
        phone={config.hours.phone}
        mapUrl={config.hours.mapUrl}
        businessName={config.name}
      />
    )}
    
    {config.cta && (
      <CTARouter config={config} />
    )}
  </main>
  
  <FooterRouter config={config} />
</Layout>
